#publish {
  &-search {
      max-width: 220px;
  }
  
  &-topic,
  &-subtopic,
  &-locations {
      max-width: 150px;
  }

  &-day {
      max-width: 140px;
  }

  &-error {
      max-width: 120px;
  }
}
.activities{
  &__checkbox {
    margin-left: auto !important;
    align-items: center;
    display: flex;
}

}
.publish-filters{
  display: flex;
  flex-wrap: wrap;
  width: 65%;
}