<div class="about-me">
  <h1 class="about-me__title title">About me</h1>
  <div class="cardimage">
    <div class="cardimage__text">
      <p class="cardimage__text--description text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
        corrupti, voluptates magni odio iste porro numquam hic, inventore,
        blanditiis fugiat reprehenderit quas doloribus tenetur quibusdam magnam?
        Quos repellendus ipsam nemo ducimus at! Veritatis velit ratione
        consectetur labore dignissimos veniam eaque ad quisquam eum dolorum unde
        doloremque, at iusto sunt cum nemo delectus earum voluptates? Hic facere
        soluta officiis doloremque maxime excepturi sint a illo, molestiae fuga
        odio rerum nobis architecto amet expedita aperiam reprehenderit
        molestias vero! Sed quos culpa totam quia dolor suscipit repellendus id
        inventore est, commodi rem at enim, ipsa eveniet? Quaerat nulla quisquam
        distinctio temporibus quo modi, tempora tenetur fugit excepturi corporis
        magnam voluptatibus consectetur eligendi voluptates accusamus enim
        aspernatur aliquam suscipit! Exercitationem dolor iste ad nostrum cumque
        ut, culpa in voluptatum expedita fugiat id voluptatem ratione iure
        ducimus obcaecati eius quis nisi itaque quas optio possimus impedit?
        Dolorem non, delectus expedita, minima eius molestias fuga saepe
        perferendis ipsum aperiam rerum nobis natus beatae atque! In tempora at
        dicta voluptatibus eius corrupti placeat illo dolor repellat facilis,
        possimus debitis ab hic excepturi inventore. Qui eaque repellendus
        deleniti fugit, magni sunt perferendis exercitationem obcaecati
        temporibus inventore facere beatae cumque quisquam culpa ratione itaque.
        Cumque quas veritatis animi aperiam.
      </p>
    </div>
    <img class="cardimage__image" src="../../../assets/images/profilePic.jpg" />
  </div>
</div>
