.button {
    @include typography('bold', 16px);
    text-transform: uppercase;
    transition: all ease 0.3s;
    outline: none !important;
    justify-content: center;
    border-style: solid;
    align-items: center;
    border-radius: 8px;
    border-width: 2px;
    min-width: 90px;
    padding: 0 12px;
    cursor: pointer;
    display: flex;
    height: 43px;
    opacity: 1;

    mat-icon {
        margin-right: 8px;
    }

    &--primary {
        background-color: $color-primary;
        border-color: $color-primary;
        color: $color-white;

        &:hover {
            background-color: $color-secondary;
            border-color: $color-secondary;
            color: $color-terciary;
        }

        &:disabled,
        &.disabled,
        &[disabled] {
            background-color: $color-primary !important;
            border-color: $color-primary !important;
            color: $color-white !important;
            cursor: not-allowed;
            opacity: 0.75;
        }
    }

    &--secondary {
        background-color: transparent;
        border-color: $color-primary;
        color: $color-primary;

        &:hover {
            background-color: $color-primary;
            border-color: $color-primary;
            color: $color-white;
        }

        &:disabled,
        &.disabled,
        &[disabled] {
            background-color: transparent !important;
            border-color: $color-primary !important;
            color: $color-primary !important;
            cursor: not-allowed;
            opacity: 0.75;
        }
    }

    &--terciary {
        @include button-link;
    }

    &--icon {
        transition: all ease 0.3s;
        color: $color-primary;
        min-width: unset;
        cursor: pointer;
        
        &:hover {
            color: $color-secondary;
        }    
    }
    &--rev-icon{
      color: $color-white;
      justify-content: center; 
      transition: all ease 0.3s;
      min-width: unset;
      cursor: pointer;
         
          &:hover{
            color: $color-secondary; 
          }
    }
    &--rev-border{
      padding: 4px; 

      border: 1px solid $color-white;
      border-radius: 20px; 
      display: flex; 
      justify-content: center;
      align-items: center;
      box-sizing: content-box;
    }
    
}