.clock-face {
    &__clock-hand > button,
    &__clock-hand,
    &__center {
        background-color: $color-primary !important;
    }

    .mat-toolbar.mat-warn {
        background: $color-primary;
        color: $color-white;
    }

    .mat-button-base.mat-primary {
        background-color: $color-primary;
        color: $color-white;
    }
}