.datepicker-material {
    @include custom-form-fiield;

    button.mat-icon-button {
        margin: -5px -3px 0 0 !important;
        background-color: transparent;
        height: auto !important;
        width: auto !important;
        color: $color-gray-4;
        position: unset;
    }
}

.mat-datepicker-content {
    box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
    background-color: #fff;
    border-radius: 8px;
    color: #000000de;
    
    .mat-datepicker-content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .mat-calendar-header {
        padding: 8px 8px 0 8px;
    }

    .mat-calendar-controls {
        display: flex;
        margin: 5% calc(4.7142857143% - 16px);
    }

    .mat-calendar-period-button {
        box-sizing: border-box;
        position: relative;
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
        outline: none;
        border: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        display: inline-block;
        white-space: nowrap;
        text-decoration: none;
        vertical-align: baseline;
        text-align: center;
        margin: 0;
        min-width: 64px;
        line-height: 36px;
        padding: 0 16px;
        border-radius: 4px;
        overflow: visible;
        background: transparent;
    }

    .mat-calendar-previous-button,
    .mat-calendar-next-button {
        background-color: transparent !important;
        color: #0000008a;
    }

    .mat-calendar-table-header, .mat-calendar-body-label {
        color: #0000008a;
    }

    .mat-calendar-table-header th {
        text-align: center;
        padding: 0 0 8px 0;
        font-weight: 400;
        font-size: 11px;
    }

    .mat-calendar-body {
        min-width: 224px;
    }

    .mat-calendar-body {
        font-size: 13px;
    }

    .cdk-visually-hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
        outline: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        left: 0;
    }

    .mat-calendar-table-header-divider:after {
        border-bottom: 1px solid $color-gray-2;
        content: "";
        position: absolute;
        top: 0;
        left: -8px;
        right: -8px;
        height: 1px;
    }

    .mat-calendar-body-cell-content {
        top: 5%;
        left: 5%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 90%;
        height: 90%;
        line-height: 1;
        border: 1px solid transparent;
        transition: all ease .3s;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
            background-color: $color-primary;
            color: $color-white;
        }
    }
    .mat-calendar-body-today {
        background-color: $color-secondary;
    }
}
