.mat-dialog {
  &-container {
    box-shadow: 0 11px 15px -7px #0003, 0 24px 38px 3px #00000024,
      0 9px 46px 8px #0000001f;
    padding: 24px !important;
    box-sizing: border-box;
    min-height: inherit;
    max-height: inherit;
    background: white;
    border-radius: 8px;
    color: #000000de;
    overflow: auto;
    display: block;
    height: 100%;
    width: 100%;
    outline: 0;
  }

  &-content,
  &-container {
    overflow: hidden !important;
  }

  &-actions button {
    @include button-link;
  }
}
.overflow {
  max-height: 700px;
  overflow-y: scroll;
  padding: 12px;
}
