.filter-form {
    @include typography('regular', 16px);
    margin: 27px -8px 16px;
    color: $color-gray-4;
    flex-wrap: wrap;
    display: flex;
    align-items: end; 
    .datepicker-material,
    .select-material,
    .input-material {
        margin: 0 8px 11px;
    }

    &__toolbar {
        margin-left: auto;
        display: flex;
    }
}