.img-picker {
  border: 1px solid #CCC;
  border-radius: 4px;
  position: relative;
  
  &:hover &__erase {
    opacity: 1;
  }
  &__spinner {
    position: absolute; 
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);;
  }
  &__erase {
    transition: all ease 0.3s;
    justify-content: center;
    background: #FFFFFFAA;
    border-radius: 100%;
    align-items: center;
    position: absolute;
    cursor: pointer;
    right: 0.25rem;
    display: flex;
    height: 35px;
    top: 0.25rem;
    width: 35px;
    opacity: 0;

    &:hover {
      color: $color-gray-3;
      @at-root p#{&} {
        pointer-events: none;
      }
    }
    
  }

  img {
      border-radius: 4px !important;
      cursor: pointer;
      max-height: 350px;
  }

  label {
    margin: 0 !important;
  }
}