a {
    @include typography('medium', 14px);
    border-bottom: 1px solid transparent;
    transition: all ease 0.3s;
    text-decoration: none;
    color: $color-primary;
    padding-bottom: 1px;

    &:hover {
        border-color: $color-primary;
        color: $color-primary;
    }
}