.pagination {
    background-color: $color-white;
    border-radius: 6px;
    width: fit-content;
    margin-left: auto;
    padding: 0;
    
    li {
        border-right: solid 1px $color-layout !important;
        margin-right: 1px;

        > a {
            @include typography('regular', 14px);
            box-shadow: none !important;
            padding: 9.5px 12.5px;
            color: $color-gray-4;
            border: none;
        }

        &.active > a {
            background-color: $color-primary !important;
        }

        &:last-of-type {
            border-right: none !important;
        }
    }
}