.participant {
    &__container {

    }

    &__item {
        background-color: $color-secondary;
        flex-direction: column;
        margin-bottom: 1.5rem;
        padding: 1.5rem 1rem;
        border-radius: 8px;
        position: relative;
        display: flex;

        img {
            border-radius: 100%;
            object-fit: cover;
            margin: 1rem auto;
            height: 125px;
            width: 125px;
        }

        p {
            margin-bottom: 0.5rem;
        }
    }

    &__close {
        position: absolute;
        cursor: pointer;
        right: 0.25rem;
        top: 0.25rem;
    }
}