.mat-select-panel {
    box-shadow: 0px 0px 6px #00000029;
    background-color: $color-white;
    padding: 5px !important;
    margin-top: 40px;
    border: 8px;
}

.mat-form-field-label:not(.mat-empty) {
    display: none !important;
}

.select-material {
    @include custom-form-fiield;

    .mat-select-arrow-wrapper {
        transform: none !important;
    }
    
    
}
.mat-option:hover{
  background-color: $color-gray-1;
  border-radius: 5px; 

}