.sidebar {
    background-color: #131B33;
    transition: all ease 0.3s;
    padding: 79px 20px 48px;
    flex-direction: column;
    white-space: nowrap;
    color: white;
    display: flex;
    height: 100%;
    width: 300px;

    @media (max-width: 1440px) {
        width: 223px;
    }

    &.in-active {
        width: 0 !important;
        opacity: 0;
    }

    &__title {
        @include typography('medium', 14px);
        text-transform: uppercase;
        margin-bottom: 0.5rem;

        &:first-child {
            margin-top: 34px;
        }

        &:last-child {
            margin-top: 50px;
        }
    }

    &__section {
        flex-direction: column;
        display: flex;
    }

    &__list {
        padding: 0;
        margin: 0;

        li {
            @include typography('medium', 16px);
            background-color: transparent;
            transition: all ease 0.3s;
            margin-bottom: 4.5px;
            align-items: center;
            border-radius: 8px;
            padding: 13px 17px;
            list-style: none;
            min-height: 48px;
            cursor: pointer;
            display: flex;
            width: 100%;

            mat-icon {
                margin-right: 8px;
            }

            &.selected {
                background-color: $color-white;
                color: $color-terciary;
            }

            &:hover {
                background-color: $color-secondary;
                color: $color-terciary;
            }
        }
    }

    &__footer {
        margin-top: auto;

        ul {
            padding: 0;
            margin: 0;
        }
    }


    &__link {
        @include typography('medium', 16px);
        background-color: transparent;
        transition: all ease 0.3s;
        margin-bottom: 4.5px;
        align-items: center;
        border-radius: 8px;
        position: relative;
        width: fit-content;
        list-style: none;
        min-height: 48px;
        padding: 13px 0;
        cursor: pointer;
        display: flex;
        
        mat-icon {
            margin-right: 8px;
        }
        
        span:after {
            background-color: $color-white;
            transition: all ease 0.3s;
            position: absolute;
            bottom: 10px;
            content: '';
            height: 1px;
            width: 100%;
            opacity: 0;
            left: 0;
        }

        &:hover > span:after {
            opacity: 1;
        }
    }

    ul > li {
        list-style: none;
    }
}