


.mat-tooltip {
  /* your own custom styles here */ 
  /* e.g. */
  color: $color-black !important; 
  margin-left: 65px !important;
  background-color: $color-secondary;
  z-index: 9999 !important; 
}